@import "ng-table/ng-table";
@import "font-awesome/font-awesome";

#content_main .inner-content a.btn-info {
  color:#FFFFFF;
}

.alert {
  //padding-left:10px;
  padding-right:25px !important;
}

.alert .fa {
  position:relative;
  right: 52px;
}

.alert-success .fa {
  position:relative;
  right:57px;
}

.operations {
  display:inline;
}